.tag-input {
  position: relative;
  margin-bottom: 1.5rem;

  input {
    appearance: none;
    outline: none;
    border: none;
    background-color: var(--primary-background);
    font-size: 1rem;
    min-width: 0;
    flex: 1 1;
    margin: 0.5rem 0;
  }
}

.tag-input-group {
  display: flex;
}

.tag-input-box {
  background-color: var(--primary-background);
  line-height: 1.8rem;
  padding: 0.4rem 1rem;
  display: flex;
  flex-wrap: wrap;
}

.tag-input-tag {
  display: inline-block;
  position: relative;
  background-color: var(--tertiary-background);
  border: solid 1px var(--border-color);
  margin: 0.2rem;
  padding-right: 1rem;
  height: 1.8rem;
  border-radius: 0.9rem;

  span {
    padding-left: 0.7rem;
    padding-right: 0.9rem;
  }

  div {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2rem;
    justify-content: center;
    align-items: center;
    opacity: 0.4;

    &:hover {
      opacity: 0.6;
    }
  }
}

.tag-input-action {
  appearance: none;
  background-color: var(--primary-background);
  border: none;
  line-height: 1.8rem;
  padding: 0.4rem 1rem;
}

.tag-input-auto-complete {
  background-color: var(--primary-background);
  border: solid 1px var(--border-color);
  border-top: none;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  max-height: 20rem;
  overflow: scroll;
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  z-index: 5;

  &:empty {
    display: none;
  }

  div {
    padding: 0.4rem 1rem;
    &:hover {
      background-color: var(--secondary-hover-background);
    }

    &.selected {
      background-color: var(--secondary-background);
      &:hover {
        background-color: var(--tertiary-hover-background);
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .tag-input-group {
    flex-direction: column;
    &.auto-complete-active .tag-input-box {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .tag-input-action {
    margin-top: 0.4rem;
    border: solid 1px var(--border-color);
    border-radius: 0.2rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .tag-input-box {
    border: solid 1px var(--border-color);
    border-radius: 0.2rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    &:focus-within {
      outline: solid 2px var(--theme-color);
    }
  }
  .tag-input {
    margin-bottom: 4.6rem;
  }
}

@media only screen and (min-width: 600px) {
  .tag-input-group {
    background-color: var(--primary-background);
    border: solid 1px var(--border-color);
    border-radius: 0.2rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;

    &:focus-within {
      outline: solid 2px var(--theme-color);
    }

    &.auto-complete-active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .tag-input-box {
    flex: 1 1 auto;
  }

  .tag-input-action {
    border-left: solid 1px var(--border-color);
    flex: 0 0 auto;
    background-color: var(--tertiary-background);
  }
}
